{%extends 'blog/base.html'%}
{%load blog_tags%}
{%load static%} {%block title%} MNM
Speaking{%endblock%} {% block content %} {%if tag%}
<h2 class="tag_exist">Posts Tagged #{{tag}}</h2>
{%endif%}{% for post in posts %}

<div class="singlepost">
  <a href="{{post.get_absolute_url}}">
    <h1>{{post.title}}</h1>
  </a>
  <p class="publish-info">Published {{post.publish}} by {{post.author}}</p>
  <p class="trailer">{{post.body|markdown|truncatewords_html:30}}</p>
</div>
{% endfor %}
<div class="pagination">
  <form action="{%url 'blog:post_list'%}" method="GET">
    {% if posts.has_previous %}

    <button name='page' value={{posts.previous_page_number}}>Previous</button>
    {% endif %}

    page {{posts.number}} of {{posts.paginator.num_pages}} {% if posts.has_next %}
    <button name='page' value={{posts.next_page_number}}>Next</button>
    {% endif %}
  </form>
</div>
{% endblock %}