{%load blog_tags%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="{%static 'css/blog.css'%}" />
  <script src="https://kit.fontawesome.com/0eff1b1f1c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <a href="{%url 'blog:post_list'%}">
        <h2>MnM Speaking</h2>
      </a>

      <p>{%total_posts%} pieces of my thoughts are available Here </p>
    </div>
  </div>
  <div id="content">
    {%block content%} {%endblock%}
  </div>
  <div id="besidebar">
    <div class="recents"> {%most_recent 5%}</div>

    <div class="commenteds"> {%most_commented_posts 5%}</div>
  </div>
</body>

</html>